WebSerivce/Scheduler/Scheduler.Job/Web References/ESB/Core_Service_Bus_MainBus_ReceiveSendPort_EN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.jn.com/Esb" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.jn.com/Esb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.jn.com/Esb">
      <s:element name="ReceiveRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:EsbRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EsbRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageBody" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReceiveRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveRequestResult" type="tns:EsbResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EsbResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ReturnMessageCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnResponseTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageBody" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveRequest" />
  </wsdl:message>
  <wsdl:message name="ReceiveRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="Core_Service_Bus_MainBus_ReceiveSendPort_ENSoap">
    <wsdl:operation name="ReceiveRequest">
      <wsdl:input message="tns:ReceiveRequestSoapIn" />
      <wsdl:output message="tns:ReceiveRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Core_Service_Bus_MainBus_ReceiveSendPort_ENSoap" type="tns:Core_Service_Bus_MainBus_ReceiveSendPort_ENSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveRequest">
      <soap:operation soapAction="http://www.jn.com/Esb/ReceiveRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Core_Service_Bus_MainBus_ReceiveSendPort_ENSoap12" type="tns:Core_Service_Bus_MainBus_ReceiveSendPort_ENSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveRequest">
      <soap12:operation soapAction="http://www.jn.com/Esb/ReceiveRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Core_Service_Bus_MainBus_ReceiveSendPort_EN">
    <wsdl:port name="Core_Service_Bus_MainBus_ReceiveSendPort_ENSoap" binding="tns:Core_Service_Bus_MainBus_ReceiveSendPort_ENSoap">
      <soap:address location="http://localhost/EsbCoreEN/Core_Service_Bus_MainBus_ReceiveSendPort_EN.asmx" />
    </wsdl:port>
    <wsdl:port name="Core_Service_Bus_MainBus_ReceiveSendPort_ENSoap12" binding="tns:Core_Service_Bus_MainBus_ReceiveSendPort_ENSoap12">
      <soap12:address location="http://localhost/EsbCoreEN/Core_Service_Bus_MainBus_ReceiveSendPort_EN.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>