Portal/App_WebReferences/JN/Esb/Portal/ServiceMgt/重新发送消息服务/Core_Service_Bus_ReProcessBus_ReProcessPort.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.jn.com/Esb" xmlns:s1="http://schemas.jn.com/esb/resend_request/20100329" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.jn.com/Esb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk 程序集“Core.Service.Bus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ee83b787fd1ed5a4”已发布 Web Services。</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.jn.com/Esb">
      <s:import namespace="http://schemas.jn.com/esb/resend_request/20100329" />
      <s:element name="ReceiveRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:服务请求" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.jn.com/esb/resend_request/20100329">
      <s:element name="服务请求">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="服务目录地址" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="主机名称" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="请求时间" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="服务目录绑定地址编码" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="服务名称" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="服务方法名称" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="错误消息编码" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="消息内容" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="密码" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="绑定类型" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveRequest" />
  </wsdl:message>
  <wsdl:portType name="Core_Service_Bus_ReProcessBus_ReProcessPortSoap">
    <wsdl:operation name="ReceiveRequest">
      <wsdl:input message="tns:ReceiveRequestSoapIn" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Core_Service_Bus_ReProcessBus_ReProcessPortSoap" type="tns:Core_Service_Bus_ReProcessBus_ReProcessPortSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveRequest">
      <soap:operation soapAction="http://www.jn.com/Esb/Core_Service_Bus_ReProcessBus_ReProcessPort/ReceiveRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Core_Service_Bus_ReProcessBus_ReProcessPortSoap12" type="tns:Core_Service_Bus_ReProcessBus_ReProcessPortSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveRequest">
      <soap12:operation soapAction="http://www.jn.com/Esb/Core_Service_Bus_ReProcessBus_ReProcessPort/ReceiveRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Core_Service_Bus_ReProcessBus_ReProcessPort">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk 程序集“Core.Service.Bus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ee83b787fd1ed5a4”已发布 Web Services。</wsdl:documentation>
    <wsdl:port name="Core_Service_Bus_ReProcessBus_ReProcessPortSoap" binding="tns:Core_Service_Bus_ReProcessBus_ReProcessPortSoap">
      <soap:address location="http://localhost/EsbCore/Core_Service_Bus_ReProcessBus_ReProcessPort.asmx" />
    </wsdl:port>
    <wsdl:port name="Core_Service_Bus_ReProcessBus_ReProcessPortSoap12" binding="tns:Core_Service_Bus_ReProcessBus_ReProcessPortSoap12">
      <soap12:address location="http://localhost/EsbCore/Core_Service_Bus_ReProcessBus_ReProcessPort.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>