Portal/App_WebReferences/ESB/ContractSerivce.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://esb.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://esb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://esb.com/">
      <s:element name="GetServiceVersionByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="versionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceVersionByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceVersionByIDResult" type="tns:BusinessServiceVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BusinessServiceVersion">
        <s:complexContent mixed="false">
          <s:extension base="tns:BusinessServiceVersionOfBusinessServiceVersion" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BusinessServiceVersionOfBusinessServiceVersion">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityOfBusinessServiceVersion">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BigVer" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SmallVer" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CreatePersionID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ConfirmPersonID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDateTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CommitDateTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ConfirmDateTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Opinion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityOfBusinessServiceVersion">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityBase" abstract="true" />
      <s:element name="GetServiceVersionByServiceID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceVersionByServiceIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceVersionByServiceIDResult" type="tns:ArrayOfBusinessServiceVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBusinessServiceVersion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BusinessServiceVersion" nillable="true" type="tns:BusinessServiceVersion" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateServiceVersionStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="versionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="opinion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateServiceVersionStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReviseServiceVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="versionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="personalID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReviseServiceVersionResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpgradeServiceVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="versionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="personalID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpgradeServiceVersionResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateServiceVersionInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="versionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmPersonID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateServiceVersionInfoResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertServiceVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:BusinessServiceVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertServiceVersionResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateServiceVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:BusinessServiceVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateServiceVersionResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteServiceVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:BusinessServiceVersion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteServiceVersionResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteServiceVersionAndContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="versionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteServiceVersionAndContractResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectServiceContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="versionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectServiceContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectServiceContractResult" type="tns:ArrayOfServiceContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfServiceContract">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceContract" nillable="true" type="tns:ServiceContract" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceContract">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceContractOfServiceContract" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceContractOfServiceContract">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityOfServiceContract">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="OID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceVersionID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MethodContract" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreatePersonID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDateTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityOfServiceContract">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase" />
        </s:complexContent>
      </s:complexType>
      <s:element name="InsertServiceContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:ServiceContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertServiceContractResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateServiceContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:ServiceContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateServiceContractResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteServiceContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:ServiceContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteServiceContractResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServiceVersionByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceVersionByID" />
  </wsdl:message>
  <wsdl:message name="GetServiceVersionByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceVersionByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceVersionByServiceIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceVersionByServiceID" />
  </wsdl:message>
  <wsdl:message name="GetServiceVersionByServiceIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceVersionByServiceIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceVersionStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateServiceVersionStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceVersionStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateServiceVersionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ReviseServiceVersionSoapIn">
    <wsdl:part name="parameters" element="tns:ReviseServiceVersion" />
  </wsdl:message>
  <wsdl:message name="ReviseServiceVersionSoapOut">
    <wsdl:part name="parameters" element="tns:ReviseServiceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="UpgradeServiceVersionSoapIn">
    <wsdl:part name="parameters" element="tns:UpgradeServiceVersion" />
  </wsdl:message>
  <wsdl:message name="UpgradeServiceVersionSoapOut">
    <wsdl:part name="parameters" element="tns:UpgradeServiceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceVersionInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateServiceVersionInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceVersionInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateServiceVersionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertServiceVersionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertServiceVersion" />
  </wsdl:message>
  <wsdl:message name="InsertServiceVersionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertServiceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceVersionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateServiceVersion" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceVersionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateServiceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteServiceVersionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteServiceVersion" />
  </wsdl:message>
  <wsdl:message name="DeleteServiceVersionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteServiceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteServiceVersionAndContractSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteServiceVersionAndContract" />
  </wsdl:message>
  <wsdl:message name="DeleteServiceVersionAndContractSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteServiceVersionAndContractResponse" />
  </wsdl:message>
  <wsdl:message name="SelectServiceContractSoapIn">
    <wsdl:part name="parameters" element="tns:SelectServiceContract" />
  </wsdl:message>
  <wsdl:message name="SelectServiceContractSoapOut">
    <wsdl:part name="parameters" element="tns:SelectServiceContractResponse" />
  </wsdl:message>
  <wsdl:message name="InsertServiceContractSoapIn">
    <wsdl:part name="parameters" element="tns:InsertServiceContract" />
  </wsdl:message>
  <wsdl:message name="InsertServiceContractSoapOut">
    <wsdl:part name="parameters" element="tns:InsertServiceContractResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceContractSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateServiceContract" />
  </wsdl:message>
  <wsdl:message name="UpdateServiceContractSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateServiceContractResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteServiceContractSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteServiceContract" />
  </wsdl:message>
  <wsdl:message name="DeleteServiceContractSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteServiceContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ContractSerivceSoap">
    <wsdl:operation name="GetServiceVersionByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取到服务的特定版本</wsdl:documentation>
      <wsdl:input message="tns:GetServiceVersionByIDSoapIn" />
      <wsdl:output message="tns:GetServiceVersionByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceVersionByServiceID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取到服务下的所有版本</wsdl:documentation>
      <wsdl:input message="tns:GetServiceVersionByServiceIDSoapIn" />
      <wsdl:output message="tns:GetServiceVersionByServiceIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceVersionStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改服务版本的状态</wsdl:documentation>
      <wsdl:input message="tns:UpdateServiceVersionStatusSoapIn" />
      <wsdl:output message="tns:UpdateServiceVersionStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReviseServiceVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修订版本</wsdl:documentation>
      <wsdl:input message="tns:ReviseServiceVersionSoapIn" />
      <wsdl:output message="tns:ReviseServiceVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpgradeServiceVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">升级版本</wsdl:documentation>
      <wsdl:input message="tns:UpgradeServiceVersionSoapIn" />
      <wsdl:output message="tns:UpgradeServiceVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceVersionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改服务版本的信息</wsdl:documentation>
      <wsdl:input message="tns:UpdateServiceVersionInfoSoapIn" />
      <wsdl:output message="tns:UpdateServiceVersionInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertServiceVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">新增服务版本</wsdl:documentation>
      <wsdl:input message="tns:InsertServiceVersionSoapIn" />
      <wsdl:output message="tns:InsertServiceVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改服务版本</wsdl:documentation>
      <wsdl:input message="tns:UpdateServiceVersionSoapIn" />
      <wsdl:output message="tns:UpdateServiceVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除服务版本</wsdl:documentation>
      <wsdl:input message="tns:DeleteServiceVersionSoapIn" />
      <wsdl:output message="tns:DeleteServiceVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceVersionAndContract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除服务版本和服务契约</wsdl:documentation>
      <wsdl:input message="tns:DeleteServiceVersionAndContractSoapIn" />
      <wsdl:output message="tns:DeleteServiceVersionAndContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectServiceContract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取到服务版本下的所有契约</wsdl:documentation>
      <wsdl:input message="tns:SelectServiceContractSoapIn" />
      <wsdl:output message="tns:SelectServiceContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertServiceContract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">新增服务契约</wsdl:documentation>
      <wsdl:input message="tns:InsertServiceContractSoapIn" />
      <wsdl:output message="tns:InsertServiceContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceContract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改服务契约</wsdl:documentation>
      <wsdl:input message="tns:UpdateServiceContractSoapIn" />
      <wsdl:output message="tns:UpdateServiceContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceContract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除服务契约</wsdl:documentation>
      <wsdl:input message="tns:DeleteServiceContractSoapIn" />
      <wsdl:output message="tns:DeleteServiceContractSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContractSerivceSoap" type="tns:ContractSerivceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceVersionByID">
      <soap:operation soapAction="http://esb.com/GetServiceVersionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceVersionByServiceID">
      <soap:operation soapAction="http://esb.com/GetServiceVersionByServiceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceVersionStatus">
      <soap:operation soapAction="http://esb.com/UpdateServiceVersionStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviseServiceVersion">
      <soap:operation soapAction="http://esb.com/ReviseServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpgradeServiceVersion">
      <soap:operation soapAction="http://esb.com/UpgradeServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceVersionInfo">
      <soap:operation soapAction="http://esb.com/UpdateServiceVersionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertServiceVersion">
      <soap:operation soapAction="http://esb.com/InsertServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceVersion">
      <soap:operation soapAction="http://esb.com/UpdateServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceVersion">
      <soap:operation soapAction="http://esb.com/DeleteServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceVersionAndContract">
      <soap:operation soapAction="http://esb.com/DeleteServiceVersionAndContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectServiceContract">
      <soap:operation soapAction="http://esb.com/SelectServiceContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertServiceContract">
      <soap:operation soapAction="http://esb.com/InsertServiceContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceContract">
      <soap:operation soapAction="http://esb.com/UpdateServiceContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceContract">
      <soap:operation soapAction="http://esb.com/DeleteServiceContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContractSerivceSoap12" type="tns:ContractSerivceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceVersionByID">
      <soap12:operation soapAction="http://esb.com/GetServiceVersionByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceVersionByServiceID">
      <soap12:operation soapAction="http://esb.com/GetServiceVersionByServiceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceVersionStatus">
      <soap12:operation soapAction="http://esb.com/UpdateServiceVersionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviseServiceVersion">
      <soap12:operation soapAction="http://esb.com/ReviseServiceVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpgradeServiceVersion">
      <soap12:operation soapAction="http://esb.com/UpgradeServiceVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceVersionInfo">
      <soap12:operation soapAction="http://esb.com/UpdateServiceVersionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertServiceVersion">
      <soap12:operation soapAction="http://esb.com/InsertServiceVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceVersion">
      <soap12:operation soapAction="http://esb.com/UpdateServiceVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceVersion">
      <soap12:operation soapAction="http://esb.com/DeleteServiceVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceVersionAndContract">
      <soap12:operation soapAction="http://esb.com/DeleteServiceVersionAndContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectServiceContract">
      <soap12:operation soapAction="http://esb.com/SelectServiceContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertServiceContract">
      <soap12:operation soapAction="http://esb.com/InsertServiceContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServiceContract">
      <soap12:operation soapAction="http://esb.com/UpdateServiceContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServiceContract">
      <soap12:operation soapAction="http://esb.com/DeleteServiceContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractSerivce">
    <wsdl:port name="ContractSerivceSoap" binding="tns:ContractSerivceSoap">
      <soap:address location="http://192.168.56.1/CallCenter/BasicService/ContractSerivce.asmx" />
    </wsdl:port>
    <wsdl:port name="ContractSerivceSoap12" binding="tns:ContractSerivceSoap12">
      <soap12:address location="http://192.168.56.1/CallCenter/BasicService/ContractSerivce.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>