Portal/App_WebReferences/ESB/ExceptionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://esb.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://esb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://esb.com/">
      <s:element name="GetAllExceptionByBusinessID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bussinesID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllExceptionByBusinessIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllExceptionByBusinessIDResult" type="tns:ArrayOfExceptionCoreTb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfExceptionCoreTb">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExceptionCoreTb" nillable="true" type="tns:ExceptionCoreTb" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExceptionCoreTb">
        <s:complexContent mixed="false">
          <s:extension base="tns:ExceptionCoreTbOfExceptionCoreTb" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ExceptionCoreTbOfExceptionCoreTb">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityOfExceptionCoreTb">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ExceptionID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ExceptionTime" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExceptionCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExceptionInfo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ExceptionLevel" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ExceptionType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="MethodName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BindingTemplateID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ExceptionStatus" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="MessageBody" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BindingType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="RequestPwd" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="RequestType" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="BusinessID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ServiceID" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityOfExceptionCoreTb">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityBase" abstract="true" />
      <s:element name="GetExceptionByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exceptionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExceptionByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExceptionByIDResult" type="tns:ExceptionCoreTb" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteExceptionByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exceptionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteExceptionByIDResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllExceptionByBusinessIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllExceptionByBusinessID" />
  </wsdl:message>
  <wsdl:message name="GetAllExceptionByBusinessIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllExceptionByBusinessIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetExceptionByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetExceptionByID" />
  </wsdl:message>
  <wsdl:message name="GetExceptionByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetExceptionByIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteExceptionByIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteExceptionByID" />
  </wsdl:message>
  <wsdl:message name="DeleteExceptionByIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteExceptionByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="ExceptionServiceSoap">
    <wsdl:operation name="GetAllExceptionByBusinessID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取到用户的异常信息</wsdl:documentation>
      <wsdl:input message="tns:GetAllExceptionByBusinessIDSoapIn" />
      <wsdl:output message="tns:GetAllExceptionByBusinessIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExceptionByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据异常编码获取到异常信息</wsdl:documentation>
      <wsdl:input message="tns:GetExceptionByIDSoapIn" />
      <wsdl:output message="tns:GetExceptionByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExceptionByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据异常编码获取到异常信息</wsdl:documentation>
      <wsdl:input message="tns:DeleteExceptionByIDSoapIn" />
      <wsdl:output message="tns:DeleteExceptionByIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExceptionServiceSoap" type="tns:ExceptionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllExceptionByBusinessID">
      <soap:operation soapAction="http://esb.com/GetAllExceptionByBusinessID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExceptionByID">
      <soap:operation soapAction="http://esb.com/GetExceptionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExceptionByID">
      <soap:operation soapAction="http://esb.com/DeleteExceptionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExceptionServiceSoap12" type="tns:ExceptionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllExceptionByBusinessID">
      <soap12:operation soapAction="http://esb.com/GetAllExceptionByBusinessID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExceptionByID">
      <soap12:operation soapAction="http://esb.com/GetExceptionByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExceptionByID">
      <soap12:operation soapAction="http://esb.com/DeleteExceptionByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExceptionService">
    <wsdl:port name="ExceptionServiceSoap" binding="tns:ExceptionServiceSoap">
      <soap:address location="http://192.168.56.1/CallCenter/BasicService/ExceptionService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExceptionServiceSoap12" binding="tns:ExceptionServiceSoap12">
      <soap12:address location="http://192.168.56.1/CallCenter/BasicService/ExceptionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>