Test/ESBTestFramework/Service References/WCF/ESB_WCF21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mb.com" elementFormDefault="qualified" targetNamespace="http://mb.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EsbAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsbActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EsbActionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>